body{
   margin: 0;
   padding-top: 100px;
    text-align: center;
    background: lightcoral lightsalmon lightyellow;
    background-image: url(istockphoto-1059274406-612x612.jpg) ;
    background-size: cover;
}
.menu{
    position:fixed;
    background-color: rgb(238, 234, 235);
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
}
.links{
    display: inline;
    padding-left: 35px; 
    padding-right: 35px;
}
a{
font-size:20px;
font-family: 'Courier New', Courier, monospace;
font-weight:bold; 
text-decoration: none ;
color: rgb(red, green, blue);
}
.links:hover{
    text-decoration: underline;
    font-size: 25px;
}
a:hover{
    color: burlywood;
}


